#home { 
    width: 100%;
    margin: auto;
}

.container { 
    margin: auto;
}

.grid {
    margin: 10px auto 40px auto;
    display: inline-block;
}

.labels { 
    display: inline-block;
}

.footer {
    font-style: italic;
}

.remaining-text {
    color: rgb(175, 175, 175);
}

.input-container {
    margin: 0px auto;
    padding: 50px 0 20px 0;
    width: 660px;
    text-align: left;
}

.validity {
    font: 1rem 'Fira Sans', sans-serif;
}

.birthdaySubmit {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    width: 100px;
    height: 25px;
}

label {
    display: inline;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem .5rem;
}

span::after {
    padding-left: 2px;
}

input:invalid+span::after {
    content: '✖';
}

input:valid+span::after {
    content: '✓';
}

h1 { 
    display: block;
    margin: 0px auto;
    padding-top: 10px;
    width: 650px;
    text-align: left;
    font-size: 40px;
}

h2, h3, button { 
    display: inline;
}

hr { 
    width: 480px;
    border-top: 2px dotted rgb(175, 175, 175);
    margin: 8px;
}

@media screen and (max-width: 500px) {
    hr { 
        width: 380px;
    }
}